*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    position: relative;
    top:40px;
    background-color: azure;
    /* border:2px solid black; */
    border-radius: 50px;
    margin: 0 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:30px 10px 0 40px;
}

.list{
    list-style:none;
    display:flex;
    margin: 10px;
}

.list-items{
    margin: 0 30px;
    cursor: pointer;
    color: gray;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.list-items:hover{
    color: black;
}

.intro{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

.intro img{
    height:20rem;
    width:20rem;
    margin-left:12rem;
    border-radius: 100%;
    border:10px solid white;
}

.intro-content{
    width: 30rem;
    margin:5rem 0 0 5rem;
    font-family: 'Times New Roman', Times, serif;
}

.intro-content h1{
    font-size: xxx-large;
}

.intro-content h3{
    color: gray;
    font-weight: 400;

}

.intro-para {
    /* font-size: 1rem; */
    font-weight: 500;
    line-height: 1.5rem;
    color: gray;
    margin-top:1rem;
}

.intro-btn{
    margin: 2rem 0;
}

.btn1{
    padding: 10px 10px;
    border-radius: 100px;
    /* justify-content: space-around; */
    border-color: #0081C9;
    font-weight: 500;
    font-size: 1rem;
    background-color: aliceblue;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}
.btn2{
    padding: 12px 22px;
    background-color: aliceblue;
    border-radius: 100px;
    font-weight: 500;
    margin-left: 30px;
    border-color:lightgrey;
    font-size: 1rem;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}

.btn1:hover{
    background-color: #0081C9;
    color: white;
    box-shadow: 0px 0px 10px 0px #0081C9;
}
.btn2:hover{
    background-color: lightgray;
    box-shadow: 0px 0px 10px 0px #0081C9;
}