.footer-container{
    width: 90%;
    margin: 1rem auto;
}

.footer-line{
    border: 1px solid gray;
    margin: 1rem 0px;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: center;
}


.footer-box1{
    display: flex;
}

.footer-box1 a{
    margin: 15px 15px;
}

.footer-icons:hover{
   position: relative;
    top: -5px;
}

@media  screen and (max-width: 768px){
    .footer-container{
        width: 90%;
        margin: 1rem auto;
    }
}

@media  screen and (min-width:320px) and (max-width:425px) {
    .footer-container{
        width: 100%;
        margin: 1rem auto;
    }
    
    .footer-box{
        display:flex;
        flex-direction: column;
    }
}
    
